/* ======================================== */
/* ============= ERROR SCREEN ============= */
/* ======================================== */

/* Toogle the error screen showing up on dev screen */
#webpack-hot-middleware-clientOverlay{
  display: none;
}

/* ================================= */
/* ============= FONTS ============= */
/* ================================= */

@font-face {
  font-family: 'OpenSans-Light';
  font-weight: normal;
  font-style: normal;
  color: black;
  src: local('OpenSans-Light'), url("fonts/OpenSans-Light.woff") format("woff"),
        url("/fonts/OpenSans-Light.woff2") format("woff2"),
        url("/fonts/OpenSans-Light.tff") format("ttf");
}


/* =================================== */
/* ============= APP CSS ============= */
/* =================================== */

div, span, body, label, h1, h2, h3, h4, a {
  font-family: "OpenSans-Light";
}


/* ============= NAV BAR ============= */

.navbar {
  margin-bottom: 0px;
  z-index: 10;
  border: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3b5998;
  font-weight: bolder;
  background-color: transparent;
}


.home-nav-tab {
  background: url('../containers/App/home.png') no-repeat center center;
  height: 17px;
  width: 66px;
}


/* ============= GLOBAL CSS ============= */

.pop-genie, .inner-pop-genie{
  background-color: white;
  margin-top: 15px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.inner-pop-genie{
  padding: 0px 0px 15px 0px;
}


.bottom-15{
  margin-bottom: 25px;
}

.margin-b15{
  margin-bottom: 15px;
}

/* ============= SPORTA FOOTER CSS ============= */

.sporta-footer{
  height: 200px;
  background-color: #eaeaea;
  margin-top: 30px;
  bottom: 0;
}


/* ========================================= */
/* ============= MEDIA QUERIES ============= */
/* ========================================= */

@media only screen and (max-width : 767px) {
  .navbar .container{
    position: absolute;
    width: 100%;
  }
  .navbar-nav{
    margin: 0px -15px;
    background-color: white;
  }
}

@media (min-width: 768px){
  .navbar {
    border-radius: 0px; 
  }
}









