/* ======================================== */
/* ============= ERROR SCREEN ============= */
/* ======================================== */

/* Toogle the error screen showing up on dev screen */
#webpack-hot-middleware-clientOverlay{
  display: none;
}

/* ================================= */
/* ============= FONTS ============= */
/* ================================= */

@font-face {
  font-family: 'OpenSans-Light';
  font-weight: normal;
  font-style: normal;
  color: black;
  src: local('OpenSans-Light'), url("fonts/OpenSans-Light.woff") format("woff"),
        url("/fonts/OpenSans-Light.woff2") format("woff2"),
        url("/fonts/OpenSans-Light.tff") format("ttf");
}

/*@font-face {
  font-family: 'LANENAR';
  font-weight: normal;
  font-style: normal;
  color: black;
  src: local('LANENAR'), url("fonts/LANENAR.woff") format("woff"),
        url("/fonts/LANENAR.woff2") format("woff2"),
        url("/fonts/LANENAR.tff") format("ttf");
}*/

/* =================================== */
/* ============= APP CSS ============= */
/* =================================== */

div, span, body{
  font-family: "OpenSans-Light";
}

h1, h2, h3, h4, button, label, input, a, textarea{
  font-family: "OpenSans-Light" !important;
}


/*div, span, body, label, h1, h2, h3, h4, button, input, a {
  font-family: "LANENAR" !important;
}
*/

/*#content{
  position: relative;
}*/

/* ============= NAV BAR ============= */

.navbar {
  margin-bottom: 0px;
  z-index: 10;
  border: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3b5998;
  font-weight: bolder;
  background-color: transparent;
}


.home-nav-tab {
  background: url('../containers/App/home.png') no-repeat center center;
  height: 17px;
  width: 66px;
}


/* ============= GLOBAL CSS ============= */

.pop-genie, .inner-pop-genie{
  background-color: white;
  margin-top: 15px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.inner-pop-genie{
  padding: 0px 0px 15px 0px;
}

.margin-t15{
  margin-top: 15px;
}

.margin-t30{
  margin-top: 30px;
}

.bottom-15{
  margin-bottom: 25px;
}

.margin-b15{
  margin-bottom: 15px;
}

textarea{
  resize: vertical;
  width: 100%;
  border: 1px solid #cccccc;
}

/* ============= SPORTA FOOTER CSS ============= */

.sporta-footer{
  height: 400px;
  background-color: #eaeaea;
  position: absolute;
  margin-bottom: 0px;
  margin-top: 50px;
  border: none;
  box-shadow: none;
}


/* ========================================= */
/* ============= MEDIA QUERIES ============= */
/* ========================================= */

@media only screen and (max-width : 767px) {
  .navbar .container{
    position: absolute;
    width: 100%;
  }
  .navbar-nav{
    margin: 0px -15px;
    background-color: white;
  }
}

@media (min-width: 768px){
  .navbar {
    border-radius: 0px; 
  }
}






/*SELECT CSS*/



$select-input-bg:                   #fff !default;
$select-input-bg-disabled:          #f9f9f9 !default;
$select-input-bg-focus:             $select-input-bg !default;
$select-input-border-color:         #ccc !default;
$select-input-border-radius:        4px !default;
$select-input-border-focus:         #08c !default; // blue
$select-input-box-shadow-focus:     inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade($select-input-border-focus, 50%) !default;
$select-input-border-width:         1px !default;
$select-input-height:               36px !default;
$select-input-internal-height:      ($select-input-height - ($select-input-border-width * 2)) !default;
$select-input-placeholder:          #aaa !default;
$select-text-color:                 #333 !default;
$select-link-hover-color:           $select-input-border-focus !default;
$select-input-hover-box-shadow:     0 1px 0 rgba(0, 0, 0, 0.06) !default;

$select-padding-vertical:           8px !default;
$select-padding-horizontal:         10px !default;

// menu options
$select-menu-zindex:                1000 !default;
$select-menu-max-height:            200px !default;
$select-menu-box-shadow:            $select-input-hover-box-shadow !default;

$select-option-color:               lighten($select-text-color, 20%) !default;
$select-option-bg:                  $select-input-bg !default;
$select-option-focused-color:       $select-text-color !default;
$select-option-focused-bg:          #f2f9fc !default; // pale blue
$select-option-selected-color:      $select-text-color !default;
$select-option-selected-bg:         #f5faff !default; // lightest blue
$select-option-disabled-color:      lighten($select-text-color, 60%) !default;

$select-noresults-color:            lighten($select-text-color, 40%) !default;

// clear "x" button
$select-clear-size:                 floor(($select-input-height / 2)) !default;
$select-clear-color:                #999 !default;
$select-clear-hover-color:          #D0021B !default; // red
$select-clear-width:                ($select-input-internal-height / 2) !default;

// arrow indicator
$select-arrow-color:                #999 !default;
$select-arrow-color-hover:          #666 !default;
$select-arrow-width:                5px !default;

// loading indicator
$select-loading-size:               16px !default;
$select-loading-color:              $select-text-color !default;
$select-loading-color-bg:           $select-input-border-color !default;

// multi-select item
$select-item-border-radius:         2px !default;
$select-item-gutter:                5px !default;
$select-item-padding-vertical:      2px !default;
$select-item-padding-horizontal:    5px !default;
$select-item-font-size:             .9em !default;
$select-item-color:                 #08c !default; // pale blue
$select-item-bg:                    #f2f9fc !default;
$select-item-border-color:          darken($select-item-bg, 10%) !default;
$select-item-hover-color:           darken($select-item-color, 5%) !default; // pale blue
$select-item-hover-bg:              darken($select-item-bg, 5%) !default;
$select-item-disabled-color:        #333 !default;
$select-item-disabled-bg:           #fcfcfc !default;
$select-item-disabled-border-color: darken($select-item-disabled-bg, 10%) !default;




