/* ======================================== */
/* ============= ERROR SCREEN ============= */
/* ======================================== */

/* Toogle the error screen showing up on dev screen */
#webpack-hot-middleware-clientOverlay{
  display: none;
}

/* ================================= */
/* ============= FONTS ============= */
/* ================================= */

@font-face {
  font-family: 'OpenSans-Light';
  font-weight: normal;
  font-style: normal;
  color: black;
  src: local('OpenSans-Light'), url("fonts/OpenSans-Light.woff") format("woff"),
        url("/fonts/OpenSans-Light.woff2") format("woff2"),
        url("/fonts/OpenSans-Light.tff") format("ttf");
}


/* =================================== */
/* ============= APP CSS ============= */
/* =================================== */

div, span, body, label, h1, h2, h3, h4 {
  font-family: "OpenSans-Light";
}


/* ============= NAV BAR ============= */

.navbar {
  margin-bottom: 0px;
  z-index: 10;
  border: none;
}


/* ============= APP CONTENT ============= */

.app-content{
  /*margin-top: 50px;*/
}


/* ========================================= */
/* ============= MEDIA QUERIES ============= */
/* ========================================= */

@media only screen and (max-width : 767px) {
  .navbar .container{
    position: absolute;
    width: 100%;
  }
  .navbar-nav{
    margin: 0px -15px;
    background-color: white;
  }
}


















