/* =================================== */
/* ============= ABOUT CSS ============= */
/* =================================== */

.about-header{  
  font-size: 32px;
  display: block;
  text-align: center;
  /*letter-spacing: 1px;*/
  font-weight: bolder;
  margin: 50px 0px 60px 0px;
}

.pic-box{
  height: 400px;
  background-color: #b1b1b1;
}

.inner-title{
  display: block;
  font-size: 19px;
  margin-bottom: 25px;
}

.about-sporta i.large.icon, i.large.icons {
  font-size: 2.5em;
  margin-right: 10px;
  color: #3b5998;
}

.icon-text{
  display: inline-flex;
}

.about-sub-header{
  font-size: 25px;
  display: block;
  text-align: center;
  /*letter-spacing: 1px;*/
  /*font-weight: bolder;*/
  margin: 30px 0px 10px 0px;
}

.golie-photo{
  margin-left: -92px;
  -webkit-transform: scale(1.6);
  transform:scale(1.6);
  -ms-transform:scale(1.6);  /*IE 9*/
  -moz-transform:scale(1.6); /*Firefox*/
  -webkit-transform:scale(1.6); /*Safari and Chrome*/
  -o-transform:scale(1.6); /*Opera*/
  object-fit: contain;
  min-height: 390px;
}

.about-photo{
  margin-left: -30px;
  overflow: hidden;
}

.about-box{
  background-color: #809ae5;
  color: white;
  padding: 25px 15px 0px 15px;
}

.about-box i.large.icon, i.large.icons {
  color: white;
}

.manager-photo{
  background: url("../../components/About/manager2.jpg") no-repeat center center;
  height: 450px;
}

.heavy-divider{
  margin: 60px 0px 50px 0px !important;
}

.heavy-divider-2{
  margin: 60px 0px 0px 0px !important;
  /*width: 3000px;*/
}

.about-timeline{
  background-color: #fcfcfc;
}


/*SPORTA TEAM PHOTOS*/
.enzo-photo{
  background: url("../../components/About/enzo.jpg") no-repeat center center;
}
.jayz-photo{
  background: url("../../components/About/jayz.jpg") no-repeat center center;
}
.abu-photo{
  background: url("../../components/About/abu.jpg") no-repeat center center;
}
.akbar-photo{
  background: url("../../components/About/akbar.jpg") no-repeat center center;
}
.kris-photo{
  background: url("../../components/About/kris.jpg") no-repeat center center;
}

.enzo-photo, .jayz-photo, .abu-photo, .akbar-photo, .kris-photo{
  height: 300px;
  background-color: #eaeaea;
}



/*TIMELINE*/

.timeline {
  position: relative;
  margin: 60px 16.75%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

/* Containertime around content */
.containertime {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containertime::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: white;
  border: 2px solid #3b5998;
  top: -1px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the containertime to the left */
.left {
  left: 0;
}

/* Place the containertime to the right */
.right {
  left: 50%;
}


/* Fix the circle for containertimes on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
}




/* ============================= */
/* ====== MEDIA QUEIRIES ======= */
/* ============================= */

@media screen and (max-width: 991px) {
  .timeline{
    margin: 60px auto;
  }
}

@media only screen and (max-width: 767px){
  .about-photo{
    margin-left: 0px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 667px){
  .about-photo{
    margin-left: 0px;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 43px;
  }

/* Full-width containertimes */
  .containertime {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .containertime::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containertimes behave like the left ones */
  .right {
    left: 0%;
  }
}










