/* ===================================== */
/* ============= Contact CSS ============= */
/* ===================================== */

.form-title {
  display: block;
  font-size: 17px;
  margin: 15px 0px 15px 0px;
  /*letter-spacing: 1px;*/
}