/* ===================================== */
/* ============= Contact CSS ============= */
/* ===================================== */

.header {
	padding-top: 20px;
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
}
.send-btn {
	margin: 10px;
}
