/* =============================================== */
/* ============= CREATE DIVISION CSS ============= */
/* =============================================== */

/* ============= FORM ============= */

.text-label{
  font-size: 17px;
  margin-right: 5px;
  display: inline-block;  
}

.chose-btn{
  display: inline-block;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2996cc;
  /*background-color: #008000;*/ /*ALSO GOOD COLOR FOR BUTTONS*/
  width: 100px;
  padding: 3px 0px;
}

.ui.search>.results .result{
  cursor: initial;
}