/* ====================================== */
/* ============= EXPLORE CSS ============= */
/* ====================================== */

/* ============= HEADER ============= */

.explore-header{
  height: 400px;
  background-color: #2996cc;
}

.header-item{
  margin-top: 40px;
  padding: 0px 30px;
  color: white;
}

.header-image{
  padding-right: 0px;
}

.header-item p{
  letter-spacing: 2px;
}

.explore-photo{
  height: 400px;
  overflow: hidden;
}

.e-photo{
  min-width: 100%;
  height: inherit;
  object-fit: cover;
}

.explore-register-btn{
  display: inline-block;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #266489;
  width: 250px;
  padding: 15px 0;
}


/* ============= FILTER CSS ============= */

.filter-category .ui.checkbox label {
  display: block;
  padding-left: 24px;
  font-size: 17px;
}

.filter-search{
  margin-bottom: 10px;
}

.ui.checkbox{
  display: block;
}

.league-filter .ui.input {
  display: block;
}

.filter-set .ui.checkbox label {
  font-size: 14px;
}


