/* =================================== */
/* ============= HOME CSS ============= */
/* =================================== */

/* ============= BACKGROUND ============= */

.background{
  overflow: hidden;
  margin-top: -215px;
  width: 100%;
  display:inline-block;
  /*background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.95)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* IE10+ */
  /*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.background-photo{
  width: 100%;
  background-size: cover;
  z-index: -1;
  position: relative;
  margin-top: -65px;
}

/* ============= MESSAGE ON TOP OF BACKGROUND ============= */

.sporta-message{
  position: absolute;
  left: 1%;
  border: 3px solid white;
  color: white;
  border-radius: 11px;
  padding: 20px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 32px;
}

.register-sporta{
  height: 70px;
  background-color: #f7f7f7;
  text-align: center;
  margin-top: -4px;
  padding: 10px;
  border-bottom: 1px solid #b1b1b1;
}

.sporta-btn{
  display: inline-block;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2996cc; 
  /*background-color: #008000;*/ /*ALSO GOOD COLOR FOR BUTTONS*/
  width: 250px;
  padding: 15px 0px;
}



/* ============================= */
/* ====== MEDIA QUEIRIES ======= */
/* ============================= */


@media only screen and (max-width: 1302px){
  .background-photo{
    margin-top: 144px;
  }
}

@media only screen and (max-width: 988px){
  .background{
    height: auto !important;
  }
}

@media only screen and (max-width: 840px){
  .sporta-message{
    font-size: 21px;
    top: 70px !important;
  }
}

/*@media only screen and (max-width: 768px){
  .sporta-message{
    font-size: 21px;
    top: 70px !important;
  }
}*/

@media only screen and (max-width: 597px){
  .sporta-message{
    font-size: 14px;
    top: 60px !important;
    padding: 10px;
  }
}



