/* ===================================== */
/* ============= ACCOUNT CSS ============= */
/* ===================================== */

/* ============= PROFILECARD ============= */

.profile-card{
  padding: 0px;
  width: 165px;
}

.temp-bar{
  height: 40px;
  background-color: #3b5998;
  position: relative;
}

.temp-circle{
  height: 60px;
  border-radius: 57px;
  max-width: 60px;
  background-color: grey;
  top: 9px;
  left: 54px;
  z-index: 10;
  position: relative;
}

.profile-card-details{
  padding-top: 36px;
  text-align: center;
  background-color: #f7f7f7;
}

.profile-card-details span, .profile-card-status span, .profile-card-views span{
  display: block;
  font-weight: bolder;
  margin-bottom: 2px;
}

.profile-card-details span, .profile-card-views span{
  font-size: 17px;
}

.profile-card-status span{
  font-size: 14px; 
}


.profile-card-views, .profile-card-status{
  text-align: center;
  padding-top: 10px;
}

.profile-card-details, .profile-card-status, .profile-card-views{
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.some-content{
  height: 200px;
  background-color: papayawhip;
}

.padding-zero{
  padding: 0px;
}

.small-circle{
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 57px;
}

/* ============= TOP TAB ============= */

.top-tab .menu .item {
  font-size: 17px !important;
}

.pop-genie{
  background-color: white;
  margin-top: 15px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.top-tab{
  padding: 0px 15px 15px 15px;
}

