/* =================================== */
/* ============= SPORTA CSS ============= */
/* =================================== */

/* ============= BACKGROUND ============= */

.background{
  overflow: hidden;
  /*margin-top: -215px;*/
  width: 100%;
  display:inline-block;
  max-height: 600px;
  min-height: 250px;
  /*background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.95)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* IE10+ */
  /*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.background-photo{
  width: 100%;
  background-size: cover;
  z-index: -1;
  position: relative;
  /*margin-top: -150px;*/
}

/* ============= MESSAGE ON TOP OF BACKGROUND ============= */

.sporta-page-top{
  position: absolute;
  top: 87px;
  margin: 10px;
}

.sporta-message{
  color: white;
  letter-spacing: 3px;
  font-size: 32px;
}

.beta-form{
  border: 2px solid white;
  color: white;
  border-radius: 11px; 
  padding: 10px 0px;
  /* text-align: center; */
}

.register-sporta{
  height: 70px;
  background-color: #f7f7f7;
  text-align: center;
  margin-top: -4px;
  padding: 10px;
  border-bottom: 1px solid #b1b1b1;
}

.sporta-btn{
  display: inline-block;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2996cc;
  /*background-color: #008000;*/ /*ALSO GOOD COLOR FOR BUTTONS*/
  width: 250px;
  padding: 15px 0px;
}


/* ============= BETA FORM ============= */

.beta-form-title{
  display: block;
  color: white;
  font-size: 19px;
  margin: 0px 0px 15px 0px;
  text-align: center;
  letter-spacing: 2px;
}

.beta-form .form-control{
  font-size: 14px;
  color: white;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom-width: 2px;
  background-color: transparent;
  box-shadow: none;
  border-bottom-color: white;
  /*border-bottom-color: rgba(76,88,111,.76);*/
}

.beta-form .form-control:focus{
  border-bottom-color: rgb(102, 175, 233);
  border-bottom-width: 3px;
}


.beta-form label{
  color: white;
  font-size: 14px;
}

.form-field{
  height: 54px;
}

.beta-btn{
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  color: black;
  border-radius: 50px;
  background-color: white;
  letter-spacing: 2px;
  border-color: transparent;
}

.beta-form .btn:hover{
  color: white;
  background-color: #2996cc;
  border-color: transparent;
}

.beta-form .btn:focus{
  outline: 0;
}

.beta-form .Select-control{
  background-color: transparent;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom-width: 2px !important;
  border-color: rgb(59,89,152) !important;
  border-bottom-color: white !important;
}

.beta-form .Select.is-focused:not(.is-open) > .Select-control{
  background-color: transparent;
}

.beta-form .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label{
  color: white;
}

.beta-form .message-field textarea {
  border-radius: 14px;
  border-width: 2px;
  background-color: transparent;
  box-shadow: none;
  border-bottom-color: white;
  border-left: 0;
  border-right: 0;
  /*border-top-color: white;*/
  border-top: 0;
  width: 100%;
  height: 37px;
}

.beta-form .message-field textarea:focus{
  border-color: rgb(102, 175, 233);
  border-width: 3px;
  outline: 0;
}

.beta-form input::placeholder, .beta-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8b8b8;
  opacity: 1; /* Firefox */
}

.beta-form input:-ms-input-placeholder, .beta-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b8b8b8;
}

.beta-form input::-ms-input-placeholder .beta-form textarea::-ms-input-placeholder{ /* Microsoft Edge */
  color: #b8b8b8;
}

.beta-form .Select-placeholder{
  color: #b8b8b8;
}

/* ============================= */
/* ====== MEDIA QUEIRIES ======= */
/* ============================= */

@media only screen and (min-width: 1070px) and (max-width: 1230px){
  .background-photo{
    margin-top: -87px;
  }
}

@media only screen and (min-width: 1231px) and (max-width: 1391px){
  .background-photo{
    margin-top: -174px;
  }
}

@media only screen and (min-width: 1392px) and (max-width: 1552px){
  .background-photo{
    margin-top: -261px;
  }
}

@media only screen and (min-width: 1553px) and (max-width: 1713px){
  .background-photo{
    margin-top: -348px;
  }
}



@media only screen and (max-width: 919px){
  .sporta-page-top{
    top: 48px !important;
  }
  .sporta-message{
    letter-spacing: 1px;
    font-size: 19px;
    /*margin-bottom: 15px;*/
  }
  .beta-form-title{
    font-size: 17px;
  }
  .beta-form{
    border: 0;
  }
}


@media only screen and (max-width: 597px){
  .sporta-message{
    letter-spacing: 1px;
    font-size: 14px;
    /*padding: 10px;*/
  }
  .beta-form-title{
    font-size: 12px;
    margin: 0px 0px 0px 0px;
  }
  .beta-form input::placeholder, .beta-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
  }

  .beta-form input:-ms-input-placeholder, .beta-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
  }

  .beta-form input::-ms-input-placeholder .beta-form textarea::-ms-input-placeholder{ /* Microsoft Edge */
    font-size: 12px;
  }
  .beta-form .Select-placeholder{
    font-size: 12px;
  }
  .beta-btn{
    font-size: 12px;
  }
}


@media only screen and (max-width: 433px){
  .sporta-message{
    font-size: 12px;
  }
  .beta-form input::placeholder, .beta-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 10px;
  }

  .beta-form input:-ms-input-placeholder, .beta-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 10px;
  }

  .beta-form input::-ms-input-placeholder .beta-form textarea::-ms-input-placeholder{ /* Microsoft Edge */
    font-size: 10px;
  }
  .beta-form .Select-placeholder{
    font-size: 10px;
  }
}











